<section class="base-content">
  <app-header></app-header>
  <mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer opened [ngClass]="iSidenavBig?'sidenav-big':'sidenav-small'" mode="side">
      <section *ngIf="!iSidenavBig">
        <button color="accent" class="w-100" (click)="iSidenavBig=!iSidenavBig" mat-button>
          <mat-icon>menu</mat-icon>
        </button>
      </section>
      <section *ngIf="iSidenavBig">
        <button color="accent" class="w-100" (click)="iSidenavBig=!iSidenavBig" mat-button>
          <mat-icon>back</mat-icon>
        </button>
        <mat-nav-list>
          <a mat-list-item *ngFor="let t of realEstateTypes" href="#">{{t?.name}}</a>

          <!-- Добавьте дополнительные пункты меню по необходимости -->
        </mat-nav-list>
      </section>
    </mat-drawer>

    <div class="example-sidenav-content">

    </div>

  </mat-drawer-container>

  <app-footer>

  </app-footer>

</section>
